body{
  padding: 0;
  margin: 0;
  color: #2c3e50;
  font-size: 13px;
  font-family: 'Gotham Pro', sans-serif;
}
*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
.container{
  position: relative;
  max-width: 900px;
  margin: auto;
}

@media only screen and (max-width: 700px) {
  .order-form {
    left: 0!important;
    margin: 0;
  }
  .close-button {
    display: block!important;
  }
}