header.header
  .container
    h1.logo
      = link_to "API", documentation_path
    div.navigation-trigger
      span.navigation-trigger__text = "Models"
      nav.navigation
        = link_to "Users", documentation_users_path, class: "navigation__item"
        = link_to "Orders", documentation_orders_path, class: "navigation__item"
        = link_to "History", documentation_history_path, class: "navigation__item"
        = link_to "Issue", documentation_issues_path, class: "navigation__item"
