= render 'header'
main.documentation
  .container
    - if @model
      .model
        h1.model__name = @model[:name]
        p.model__description = @model[:description]
        hr
        - @model[:methods].each do |method|
          .method
            h4.method__name id=method[:name]
              a href="##{method[:name]}" = method[:name]
              span.method__http-method = method[:http_method]
            p.method__description = method[:description]
            span.method__path = method[:path]
            div.method__params
              - method[:params].each do |param|
                .method__params-item = param
            pre.method__input = method[:input]
            pre.method__output = method[:output]