= render 'header'
main.documentation
  .container
    h1 = "API Documentation"
    - @models.each do |model|
      .model
        = link_to model[:name], model[:path], class: "model__name"
        div.model__methods
          - model[:methods].each do |method|
            .method__params-item
              = link_to method, model[:path] + "#" + method.to_s