body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
  position: relative;
  max-width: 600px;
  margin: auto;
}
a {
  text-decoration: none;
  color: dodgerblue;
}
.header {
  background: #282828;
  color: #fff;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.navigation-trigger {
  position: relative;
}
.method__name a::before {
  content: '#';
  color: #b7b7b7;
  font-size: 17px;
  font-weight: 700;
  margin-right: 5px;
}
.navigation {
  display: none;
  position: absolute;
  background: #fff;
  right: 0;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0,0,0,.2);
  z-index: 9;
  overflow: hidden;
}
.navigation__item {
  display: block;
  padding: 5px 50px;
  transition: background 0.2s, color 0.2s;
}
.navigation__item:hover {
  background: dodgerblue;
  color: #fff;
}
.navigation-trigger:hover .navigation {
  display: block;
}
.method {
  margin-bottom: 30px;
  border-bottom: 2px dashed #e0e0e0;
  padding-bottom: 20px;
}
.method__http-method {
  display: inline-block;
  color: #fff;
  padding: 5px 12px;
  font-size: 11px;
  margin-left: 10px;
  border-radius: 10px;
  background: #4CAF50;
}
.method__path, .method__params, .method__input, .method__output {
  display: block;
  overflow: hidden;
  border-radius: 30px;
  background: rgba(0,0,0,.05);
  padding: 5px;
}
.method__input, .method__output {
  border-radius: 10px;
  padding: 15px 10px;
  color: #484848;
}
.method__path::before, .method__params::before {
  display: inline-block;
  content: 'path';
  color: #fff;
  background: dodgerblue;
  padding: 5px 10px;
  border-radius: 12px;
  margin-right: 15px;
}
.method__params {
  display: flex;
  margin-top: 10px;
  align-items: center;
}
.method__params::before {
  content: 'params'
}
.method__params-item {
  background: #fff;
  padding: 5px 10px;
  display: block;
  color: #368a39;
  border-radius: 16px;
  margin: 0 2px;
  font-weight: 600;
  font-size: 13px;
}
.model {
  margin-bottom: 30px;
}
.model__name {
  font-size: 22px;
  text-transform: capitalize;
}
.logo a {
  color: #fff;
}